<ion-view view-title="BP Check - Step 3 of 3">
  <div class="bar bar-subheader bar-assertive">
<h4 class="title">Your BP is High</h4>
</div>

  <ion-content class="padding">



<br/>
<br />





<div class="list card" style="text-align:center">



 <p class="item" >
    Systolic <span class="emphaW">180</span>
  </p>

  <p class="item">
    Diastolic <span class="emphaW">115</span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="emphaW">136.7</span>

    </p>

  <p class="item">

  Heart Rate <span class="emphaW">97</span>
</p>




<p class="errorText" >This is your second high BP reading in a short period. <br/><br /> </p>



   <button class="button button-block button-energized" style="height:70px;font-size:24px;margin-top:-10px;" href="tel:+353211234567">
    <b>Call Emergency Room</b>
</button>














</div>












  </ion-content>
</ion-view>
