<ion-view view-title="BP Check - Step 1 of 3">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">BP Pre-Check</h4>
</div>

  <ion-content class="padding">

<br/>
<br/>


<!--
<p>1. Have you eaten, drank or smoked within the last hour? If so, you must wait
for min. <b>1 hour</b> before doing the BP Reading.</p>

<p>2. Prepare a table and chair so that your back is <b>vertical</b> and your upper arm is at the <b>same level as your heart.</b></p>

<p>3. Sit upright and put on the cuff ensuring your arm is <b>free of clothing.</b> and that it's 2-3cm above elbow and snug but not tight.</p>

<p>4. Sit and relax for <b>5 minutes</b>.</p>

<p>5. Press <b>Power button</b> and the BP Monitor will take 3 readings.</p>
-->

<!--
<ul>
  <h5>
<li>1. Please do not eat, drink or smoke for <span class="empha">1 hour</span> before.</li><br />
<li>2. Sit <span class="empha">upright</span> at a table.</li><br />
<li>3. Apply cuff <span class="empha">2-3 cm</span> above elbow. Snug but not too tight.</li><br />
<li>4. Sit and relax for 5 mins and then press <span class="empha">Continue</span></li> </h5>
<li>5. Press <b>Start</b> button on BP Monitor and it will take 3 readings. Breathe normally and <b>Do not</b> speak or move arm during readings.</li><br />

</ul>
-->



<ul class="list">

  <li class="item item-checkbox">
    <span class="step1Text">Please do not eat, drink or smoke<br /> for <span class="empha">1 hour</span> before</span>

     <label class="checkbox">
       <input type="checkbox">
     </label>
  </li>

    <li class="item item-checkbox">
        <span class="step1Text">Sit <span class="empha">upright</span> at a table</span>

       <label class="checkbox">
         <input type="checkbox">
       </label>
    </li>

      <li class="item item-checkbox">
        <span class="step1Text">Apply cuff <span class="empha">2-3 cm</span> above the<br /> inner fold of your arm. Snug but <Br /> not too tight</span>

         <label class="checkbox">
           <input type="checkbox">
         </label>
      </li>



          <li class="item item-checkbox">
                 <span class="step1Text">Sit and relax for 5 mins and then<br />press <span class="empha">Continue</span></span>
             <label class="checkbox">
               <input type="checkbox">
             </label>
          </li>











</ul>







   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.step2">
    <b>Continue</b>
</button>





  </ion-content>
</ion-view>
