<ion-view view-title="BP Check - Step 2 of 3">
  <div class="bar bar-subheader bar-stable">
<h4 class="title"> Checking your BP</h4>
</div>

  <ion-content class="padding">
<br/>
<br/>


<div class="list card" style="text-align:center">

<p class="errorText">
Now, press the <span class="empha">Start Button</span> on the BP Monitor. <br/><br />
  It will take 3 readings. Relax, don't speak or move your arm while the BP Monitor is working. <br/><br />
 You will be all done in the 2-3mins :)</p>

</div>

<br/>



  <!-- <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.step3">
    <b>Continue</b>
</button>-->



   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.step3">
    <b>Get BP Result</b>
</button>





  </ion-content>
</ion-view>
