<ion-view view-title="BP Check - Step 3 of 3">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">BP Reading Complete</h4>
</div>

  <ion-content class="padding">



<br/>
<br />





<div class="list card" style="text-align:center">
<!--<p class="item" >
<b>Your Results</b>
</p>-->

  <p class="item" >
    Systolic <span class="empha2">120</span>
  </p>

  <p class="item">
    Diastolic <span class="empha2">83</span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="empha2">98.00</span>

    </p>

  <p class="item">

  Heart Rate <span class="empha2">67</span>
  </p>


</div>

<br/>




  <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.tolven">
    <b>Finish</b>
</button>


<!--
   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.tolven">
    <b>Finish</b>
</button>
-->





  </ion-content>
</ion-view>
