<ion-view view-title="My BP Log">
  <ion-content>
    <!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  -->



   <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" >Today, 29 Sept: 2 Readings </ion-item>


    <ion-item item="item" style="font-size:12px;">
      <!--  MAP = [(2 x diastolic)+systolic] / 3   -->
    <b>10:46</b> - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33

    </ion-item>

        <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 06:31 - <b>DIA:</b> 69  -  <b>SYS:</b> 140  - <b>HR:</b> 69 - <b>MAP:</b> 100.39
        </ion-item>


         <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Sun, 28 Sept: 3 Readings </ion-item>



    <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 21:40 - <b>DIA:</b> 71  -  <b>SYS:</b> 120  - <b>HR:</b> 65 - <b>MAP:</b> 87.34
    </ion-item>

        <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 15:11 - <b>DIA:</b> 79  -  <b>SYS:</b> 143  - <b>HR:</b> 79 - <b>MAP:</b> 112.45
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 08:46 - <b>DIA:</b> 70  -  <b>SYS:</b> 138  - <b>HR:</b> 59 - <b>MAP:</b> 105.44
            </ion-item>


       <ion-item  class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Sat, 27 Sept: 4 Readings </ion-item>



    <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 22:33 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 65 - <b>MAP:</b> 95.09
    </ion-item>

        <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 16:13 - <b>DIA:</b> 67  -  <b>SYS:</b> 110  - <b>HR:</b> 59 - <b>MAP:</b> 69.09
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 10:46 - <b>DIA:</b> 79  -  <b>SYS:</b> 115  - <b>HR:</b> 61 - <b>MAP:</b> 80.55
            </ion-item>

                <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 06:40 - <b>DIA:</b> 87  -  <b>SYS:</b> 110  - <b>HR:</b> 69 - <b>MAP:</b> 98.00
                </ion-item>



       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Sat, 26 Sept: 2 Readings  </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
            </ion-item>






       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" >Fri, 25 Sept: 0 Readings </ion-item>







       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Thurs, 24 Sept: 1 Reading</ion-item>



      <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
      </ion-item>



     <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Wed, 23 Sept: 5 Readings</ion-item>


         <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
         </ion-item>

             <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
             </ion-item>

                 <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                 </ion-item>

                     <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                     </ion-item>

                         <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                         </ion-item>




      </ion-list>








  </ion-content>
</ion-view>
