<ion-view view-title="Home">
  <ion-content class="padding">

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.step1">
    <b>Start</b>
</button>

<br/>
<br/>

<!--<button class="button button-block button-energized">
  View BP Log
</button> -->



  </ion-content>
</ion-view>
