<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="BP Log" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

    <!-- Reminders Tab -->
    <ion-tab title="Reminders" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/reminders">
      <ion-nav-view name="tab-reminders"></ion-nav-view>
    </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="My Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
