<ion-view view-title="BP Check - Step 3 of 3">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Connect to Tolven</h4>
</div>

  <ion-content class="padding">



<br/>
<br />





<div class="list card" style="text-align:center">
<!--<p class="item" >
<b>Your Results</b>
</p>-->

<h2>DB Conn...</h2>







</div>

<br/>




<!--   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.dash">
    <b>Finish BP Reading</b>
</button> -->



   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.dash">
    <b>Finish</b>
</button>






  </ion-content>
</ion-view>
