/* Empty. Add your own CSS if you like */

.bar.bar-positive, .button.button-positive, .button.button-positive:hover  {background-color:#611058;border-color:#3f0a39;}

.button.button-positive {border-width:1px; border-radius:6px; box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.28);}

.button.button-energized, .button.button-energized:hover  {background-color:#ffc900 ;border:1px solid #bed08a; color:#fff !important; border-width:1px; border-radius:6px; box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.28);}

.button.button-balanced {
    border-color: #0d89cb;
    background-color: #11a7f7;
    color: #fff;

  }

      .button.button-balanced:hover {
      color: #fff;
      text-decoration: none; }

    .button.button-balanced.active, .button.button-balanced.activated {
      border-color: #074f75;
      background-color: #0d89cb;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }







.tabs {  border-color: #3f0a39; background-color: #611058;  }


.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item
{
  font-size: px;line-height: 14px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 16px;
  color:#fff;
}


  ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #fff; }


.log-header {background-color: #11a7f7; color: #fff !important;}

.empha {font-size:px;  font-weight: bold;}

.empha3 {font-size:22px;  font-weight: bold;}


.empha2 {font-size:23px; color:#11a7f7; font-weight: bold;}

.emphaW {font-size:23px; color:#ef473a; font-weight: bold;}



.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  border-color: #11a7f7;
  background-color: #11a7f7;
}

.step1Text {font-size: 14px;}

.errorText {font-size:16px;color:#444;padding:16px;padding-bottom:0px;}
